@import url(/CSS/pokedex.css);
@import url(/CSS/color.css);

:root {
    --preto: #000000;
    --branco: #ffffff;
    --cinza: #4a4a4a;
    --background: rgb(215, 215, 225);

    --bkg-grass: #02ba05;
    --bkg-fire: #ff9100;
    --bkg-water: #0073ff;
    --bkg-bug: #a8b820;
    --bkg-normal: #a8a878;
    --bkg-poison: #a040a0;
    --bkg-flying: #a890f0;
    --bkg-electric: #f8d030;
    --bkg-ground: #e0c068;
    --bkg-fairy: #ee99ac;
    --bkg-ice: #98d8d8;
    --bkg-steel: #b8b8d0;
    --bkg-dark: #705848;
    --bkg-ghost: #705898;
    --bkg-psychic: #f85888;
    --bkg-Fighting: #c03028;
    --bkg-rock: #6b5d20;
    --bkg-dragon: #4d26ab;
    


    --type-grass: #04e923;
    --type-fire: #ff7b00;
    --type-water: #00a6ff;
    --type-poison: #b700d3;
    --type-flying: #5f77e3;
    --type-bug: #a2cc23;
    --type-normal: #828058;
    --type-electric: #fff131;
    --type-ground: #ad9450;
    --type-fairy: #ffa3ac;
    --type-ice: #b3ffff;
    --type-steel: #747483;
    --type-dark: #bc9479;
    --type-ghost: #a884e4;
    --type-psychic: #ff5a75;
    --type-Fighting: #ff3f35;
    --type-rock:#b8a038;
    --type-dragon: #8d38ff;
}


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
}

.content h1 {
    margin: 0;
}

.content {
    padding: 1rem;
    background-color: var(--branco);
    height: 100vh;
    width: 100vw;
}

.rodape {
    padding: 5px;
    background-color: #22d4fd;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: var(--preto);
}

@media screen and (min-width: 992px){
    .content{
        height: auto;       
        max-width: 992px;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

